<!DOCTYPE html>
<html>
<head>
    <title>Mathematical Operations</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="static/js/app.js"></script>
</head>
<body ng-app="mathApp">
<!-- <body ng-app="myApp">
-->
     <div class="container">
        <h1>Mathematical Operations</h1>
        <form ng-controller="mathController" ng-submit="submitForm()">
<!--        <form ng-controller="myCtrl" ng-submit="submit()">
 -->
           <div class="form-group">
                <label for="num1">Number 1:</label>
                <input type="number" class="form-control" id="num1" ng-model="num1" required>
            </div>
            <div class="form-group">
                <label for="num2">Number 2:</label>
                <input type="number" class="form-control" id="num2" ng-model="num2" required>
            </div>
            <div class="form-group">
                <label for="operation">Operation:</label>
                <select class="form-control" id="operation" ng-model="operation" required>
                    <option value="add">Addition</option>
                    <option value="subtract">Subtraction</option>
                    <option value="multiply">Multiplication</option>
                    <option value="divide">Division</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <br>
        <div ng-show="result">
            <h3>Result:</h3>
            <p>{{result}}</p>
        </div>
        <div ng-show="error">
            <h3>Error:</h3>
            <p>{{error}}</p>
        </div>
    </div>
</body>
</html>
